:root {
    --lightblue: rgb(23, 166, 232);
    --Cream: rgb(245, 211, 183);
}

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }

nav h1 {
    margin: 15px;
    color: var(--Cream);
}
  
p {
    font-family: 'Jura', sans-serif;
  }

.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/black.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }

.nav-item {
    margin: 0px 15px;
  }

.dropdown-menu {
    background: url("../images/black.png");
    background-color: transparent !important;
    background-size: cover;
  }
.dropdown-item:focus, .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background: black;
  }

.customNav a {
    color: white !important;
  }

  .meBackground {
    height: calc(70vh - 25px);
    background-image: url(../images/me.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    margin-bottom: 15px;
  }
  .center-position {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .card-body {
    background-color: var(--Cream);
  }

  .card-size {
    height: 300px;
  }

  .surf-size {
    height: 500px;
  }
